* {
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}



.container{
    position: absolute;
}



.swapingImages {
    width: 100vw;
    height: 100vh;
    /* width: 100vw;
    height: 100vh; */
    background-repeat: no-repeat;
    position: relative;
}

#nube {
    background: url(./cloud_correct.gif);
    width: 145px;
	height: 98px;
    animation: forward 7s 4;
    position: absolute;
    top: 100px;
}

#chico {
    background: url(./walk-right.png);
    width: 102px;
	height: 148px;
    animation: walk 0.9s steps(6) infinite, 
               forward 7s 4;
    position: absolute;
    top: 450px
}

#sonic {
    background: url(./sonic-corriendo.gif);
    width: 145px;
	height: 148px;
    animation: sonic-forward 7s 4;
    position: absolute;
    top: 450px;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -612px;
    }
}

@keyframes forward {
    0% {
        transform: translate(-10px);
    }

    100% {
        transform: translate(105vw);
    }
} 

@keyframes sonic-forward {
    0% {
        transform: translate(-50px);
    }

    100% {
        transform: translate(110vw);
    }

}

@media (min-width: 992px) {
    #nube {
    top: 100px;
}

#chico {
    top: 500px
}

#sonic {
    top: 500px;
}

}

@media (min-width: 1301px) {
    #nube {
    top: 100px;
}

#chico {
    top: 800px
}

#sonic {
    top: 800px;
}

}
