* {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin-left: 30px;
    
}

.swapingImages {
    width: 1300px;
    height: 867px;
    background-repeat: no-repeat;
    position: relative;
}

.container{
    position: absolute;
}

html {
    overflow: hidden;    

};

/* #robot {
    background: url(http://atomicrobotdesign.com/blog_media/css-sprite/walk-right.png);
    width: 102px;
    height: 148px;
    animation: walk 1s steps(6) infinite;
    margin-left: 20px; */
/* } */

#cloud {
    background: url(./cloud_correct.gif);
    width: 150px;
    height: 100px;
    position: absolute;
    animation: forward 7s 4;
    top: 300px;
}

#chico {
    background: url(./walk-right.png);
    width: 102px;
	height: 148px;
    animation: walk 0.9s steps(6) infinite, 
               forward 7s 4;
    position: absolute;
    bottom: 300px;
}

#sonic {
    background: url(./sonic-corriendo.gif);
    width: 145px;
	height: 148px;
    animation: sonic-forward 7s 4;
    position: absolute;
    bottom: 300px;
}

@keyframes walk {
    0% {
        background-position: 0px;
    }

    100% {
        background-position: -612px;
    }
}

@keyframes forward {
    0% {
        transform: translate(-10px);
    }

    100% {
        transform: translate(105vw);
    }
} 

@keyframes sonic-forward {
    0% {
        transform: translate(-50px);
    }

    100% {
        transform: translate(110vw);
    }

}

@media screen (max-width: 1299px) {
    .swapingImages {
        width: 992px;
        height: 611px;
    }
}

@media screen (max-width: 1600px) {
    
}
